* {
  margin: 0 auto;
  padding: 1px;
  font-family: 'Atkinson Hyperlegible', sans-serif ;
  font-size: 1.05rem;
  box-sizing: border-box;
}

.container {
  display: flex;
  max-width: 40em;
  margin: 0 auto;
  flex-direction: row-reverse;
  padding-top: 60px;
}

.content {
  flex: 8;
  margin-right: 30px;
}

.content p {
    margin-bottom: 20px;
}
.content li {
    margin-bottom: 10px;
}

a:link,
a:visited {
  color: #A3795A;
  text-decoration: none;
}

a:hover {
  color: #e97319;
}

.sidebar a:link,
.sidebar a:visited {
  color: #000000;
}

.sidebar a:hover {
  color: #e97319;
}

ul {
    padding-left: 20px;
}

ul ul {
    padding-left: 20px;
}


iframe {
    margin: 0; 
    padding: 0;
    display: block;
    margin-bottom: 10px;
}


.images-section img {
  margin-bottom: 300px;
}

.sidebar {
    flex: 1;
    text-align: right;
    border-right: 1px solid #ccc;
    margin-right: 30px;
    padding-right: 15px;
}

.sidebar a {
    display: block;
}

pre {
  background-color: #272822;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  overflow: auto;
}

code {
  display: block;
  white-space: pre;
}

.comment {
  color: #75715e; /* Grey for comments */
}

code::before {
  color: #66d9ef; /* Blue for prompt */
}

.hr {
  color: #272822;
}

.toggle-interests {
    cursor: pointer;
    position: relative;
    padding: 0; 
    display: inline-block; 
    text-align: right;
}

.toggle-icon::before {
    content: '+';
    position: absolute;
    right: 0%; 
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.7s ease;
}

.toggle-interests.open .toggle-icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.interests-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-out, opacity 0.7s ease-out;
}

.interests-content.visible {
    opacity: 1;
    max-height: 500px;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../fonts/AtkinsonHyperlegible-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../fonts/AtkinsonHyperlegible-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

h1 {
    font-size: 2.5rem; /* Adjust as needed */
}

h2 {
    font-size: 2rem; /* Adjust as needed */
}

h3 {
    font-size: 1.75rem; /* Adjust as needed */
}

h4 {
    font-size: 1.5rem; /* Adjust as needed */
}

h5 {
    font-size: 1.25rem; /* Adjust as needed */
}

h6 {
    font-size: 1rem; /* Adjust as needed */
}